.home{
  display: flex;
  height: 60vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.withFooter {
  margin-bottom: 100;
}